{% extends "main_base/main_base.html" %}
{% load staticfiles %}
{% block containor %}
  {% block script_down %}
    <script>
      // 클라이언트와 서버의 웹소켓 통신을 가능하도록 연결시켜주는 부분이다.
      // 위에서 정의한 routing.py에서의 url과 일치하도록 해 주어야한다.
      var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws_app/socket_test/');
      // onmessage는 counsumers에서 보내는 메세지를 받는 부분이다.
      chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
      };
      // socket의 연결이 끊어지면 일어날 행동을 정의하는 부분이다.
      chatSocket.close = function (e) {
        console.error('Chat socket closed unexpectedly');
      };

      $('#chat-message-input').focus();
      $('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
          document.querySelector('#chat-message-submit').click();
        }
      };

      $('#chat-message-submit').click = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
          'message': message
        }));

        messageInputDom.value = '';
      };
    </script>
  {% endblock %}
  <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
  <input id="chat-message-input" type="text" size="100"/><br/>
  <input id="chat-message-submit" type="button" value="Send"/>
{% endblock %}